body {
  margin: 0;
    background: url("../img/background2.jpg");
  background-size: cover;
  background-position: center center;
  padding: 15px;
}

html {
  height: 100%;
}

.s006 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;    
  font-family: 'Poppins', sans-serif;
}

.s006 form {
  width: 100%;
  max-width: 790px;
}

.s006 form .inner-form .input-field {
  height: 70px;
  width: 100%;
  position: relative;
}

.s006 form .inner-form .input-field input {
  height: 100%;
  width: 100%;
  background: transparent;
  border: 0;
  background: #e6f5ff;
  display: block;
  width: 100%;
  padding: 10px 32px 10px 70px;
  font-size: 18px;
  color: #000;
  border-radius: 34px;
}

.s006 form .inner-form .input-field input.placeholder {
  color: #888;
  font-size: 18px;
}

.s006 form .inner-form .input-field input:-moz-placeholder {
  color: #888;
  font-size: 18px;
}

.s006 form .inner-form .input-field input::-webkit-input-placeholder {
  color: #888;
  font-size: 18px;
}

.s006 form .inner-form .input-field input:hover, .s006 form .inner-form .input-field input:focus {
  box-shadow: none;
  outline: 0;
}

.s006 form .inner-form .input-field .btn-search {
  width: 70px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  position: absolute;
  left: 0;
  height: 100%;
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  align-items: center;
}

.s006 form .inner-form .input-field .btn-search svg {
  fill: #ccc;
  width: 30px;
  height: 30px;
  transition: all .2s ease-out, color .2s ease-out;
}

.s006 form .inner-form .input-field .btn-search:hover, .s006 form .inner-form .input-field .btn-search:focus {
  outline: 0;
  box-shadow: none;
}

.s006 form .inner-form .input-field .btn-search:hover svg, .s006 form .inner-form .input-field .btn-search:focus svg {
  fill: #666;
}

@media screen and (max-width: 767px) {
  .s006 form .inner-form .input-field {
    margin-bottom: 20px;
    height: 50px;
  }
  .s006 form .inner-form .input-field input {
    padding-left: 55px;
    font-size: 16px;
  }
  .s006 form .inner-form .input-field .btn-search svg {
    width: 26px;
    height: 26px;
  }
}

#forecast {
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
  padding-left: 12px;
  margin: 5% 19%;
  margin-top: 0;
  min-height: 10vh; 
  font-size: 1.5em;
}

#location {
  margin: 0% 20%;
  margin-top: 1%;
  margin-bottom: 1%;
  height: 10vh; 
  text-align: center;
}
